<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Destination</title>
    </head>
    <body>

  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
        
        @RenderBody()

  <footer>
  <br><br>
   <hr width="80%"> 

   <a href="home.cshtml">Go Home</a>
   <br>Lauren Bergam Travel Blog
   <br>Waz here 9.1.14

  </footer>

    </body>
</html>
