<!DOCTYPE html>



<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Destination</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>

<link rel="stylesheet" type="text/css" href="stylesheet.css" />
        
 <div id="topvideo">
  <video loop autoplay>
   <source src="/images/videoloop.webm" type="video/webm">
   <source src="/images/videoloop.mp4" type="video/mp4">
  </video>
 </div>

<header>  
<h1>DESTINATION</h1>
<h2>A picture blog because I like to keep words to myself</h2>
</header>

<br>
<br>

<div id="paragraphbeginning" style="color: #464646">
    <p>Currently travelling in:</p>
</div>

<p style="font-size: 18px">Spokane</p>


    </body>
</html>

