 <div id="topvideo">
  <video loop autoplay>
   <source src="/images/videoloop.webm" type="video/webm">
   <source src="/images/videoloop.mp4" type="video/mp4">
  </video>
 </div>

<header>  
<h1>DESTINATION</h1>
<h2>A picture blog because I like to keep words to myself</h2>
</header>

<br><br>

<p class="firstline">Currently travelling in:</p>
<p class="secondline" >Spokane</p>

<br><br>

<div class="box">
    <a href="sahome.cshtml">
    <img class="panel" style="object-position: 90%" src="/images/south.jpg" alt="image incompatible, get google chrome">
    </a>
    <p class="panel">South America</p>
</div>
<br>
<div class="box">
    <a href="denverhome.cshtml">
    <img class="panel" style="object-position: bottom" src="/images/b 106.jpg" alt="image incompatible, get google chrome">
    </a>
    <p class="panel">Denver</p>
</div>


