 <div id="topvideo">
  <video loop autoplay>
   <source src="/images/videoloop.webm" type="video/webm">
   <source src="/images/videoloop.mp4" type="video/mp4">
  </video>
 </div>

<header>  
<h1>South America</h1>
</header>

<br><br>
<p class="firstline">Coming Soon...</p>